@model SMSystem.Models.Students.StudentPagedViewModel


<link href="~/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div class="table-responsive">
    <div class="row">
        <div class="col-sm-12">
            <table class="table border-0 star-student table-hover table-center mb-0 table-striped">
                <thead class="student-thread">
                    <tr>
                        <th>
                            <div class="form-check check-tables">
                                <input class="form-check-input" type="checkbox" value="something">
                            </div>
                        </th>
                        <th>Student-Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>DOB</th>
                        <th>Parent Name</th>
                        <th>Mobile Number</th>
                        <th>Address</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.StudentModel.Count > 0)
                    {
                        @foreach (var item in Model.StudentModel)
                        {
                            <tr>
                                <td>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentId)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>*@
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" class="avatar avatar-sm me-2 loader">
                                            <img class="avatar-img rounded-circle" src="@item.Path" alt="User Image" height="150px" width="150px">
                                        </a>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </h2>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm bg-success-light me-2 loader">
                                            <i class="feather-eye"></i>
                                        </a>
                                        <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-danger-light me-2 loader">
                                            <i class="feather-edit"></i>
                                        </a>
                                        <a value="@item.Id" id="dlt_student" class="btn btn-sm bg-success-light me-2">
                                            <i class="feather-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-center">
                                <h3 style ="color:red;">
                                    No Data Found!
                                </h3>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="paginationData" class="row">
    @{
        Html.RenderPartial("_Pagination");
    }
</div>

<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    responseCode = '@TempData["ResCode"]';
    message = '@TempData["Message"]';

    if (responseCode != 200 && responseCode != '') {
        $("#ExcMsg").append(message);
        $("#exception").addClass("show");
        setTimeout("$('#exception').removeClass('show');", 4000);
        setTimeout("$('#ExcMsg').removeText();", 4000);

        $.fn.removeText = function () {
            this.each(function () {

                // Get elements contents
                var $cont = $(this).contents();

                // Loop through the contents
                $cont.each(function () {
                    var $this = $(this);

                    // If it's a text node
                    if (this.nodeType == 3) {
                        $this.remove(); // Remove it
                    } else if (this.nodeType == 1) { // If its an element node
                        $this.removeText(); //Recurse
                    }
                });
            });
        }
    }
</script>