@model IEnumerable<SMSystem.Models.Students.StudentViewModel>

@{
    ViewData["Title"] = "GridIndex";
}



<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="loader">Dashboard</a></li>
                        <li class="breadcrumb-item active">All Students</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table comman-shadow">
                <div class="card-body pb-0">

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Students</h3>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp">
                                <a asp-controller="Student" asp-action="Index" class="btn btn-outline-gray me-2 loader"><i class="feather-list"></i></a>
                                <a asp-controller="Student" asp-action="GridIndex" class="btn btn-outline-gray me-2 active loader"><i class="feather-grid "></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="student-pro-list">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6 d-flex">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="student-box flex-fill">
                                                <div class="student-img">
                                                    <a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id">
                                                        <img class="img-fluid" alt="Students Info" src="@item.Path" height="200px" width="200px">
                                                    </a>
                                                </div>
                                                <div class="student-content pb-0">
                                                    <h5><a asp-controller="Student" asp-action="Details" asp-route-id="@item.Id">@item.FirstName @item.LastName</a></h5>
                                                    <h6>Student</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
