@model SMSystem.Models.Department.DepartmentPaggedViewModel


<div class="table-responsive">
    <div class="row">
        <div class="col-sm-12">
            <table class="table border-0 star-student table-hover table-center mb-0 table-striped">
                <thead class="student-thread">
                    <tr>
                        <th>
                            <div class="form-check check-tables">
                                <input class="form-check-input" type="checkbox" value="something">
                            </div>
                        </th>
                        <th>Department ID</th>
                        <th>Name</th>
                        <th>HOD</th>
                        <th>Started Year</th>
                        <th>No of Students</th>
                        <th class="text-end me-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DepartmentModel.Count > 0)
                    {
                        @foreach (var item in Model.DepartmentModel)
                        {
                            <tr>
                                <td>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HeadOfDepartment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartedYear , new { type = "year"})
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfStudents)
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-danger-light me-2 loader">
                                            <i class="feather-edit"></i>
                                        </a>
                                        <a value="@item.Id" id="dlt_departmnet" class="btn btn-sm bg-success-light me-2">
                                            <i class="feather-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-center">
                                <h3 style="color:red;">
                                    No Data Found!
                                </h3>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="paginationData" class="row">
    @{
        Html.RenderPartial("_Pagination");
    }
</div>

<script type="text/javascript">
    responseCode = '@TempData["ResCode"]';
    message = '@TempData["Message"]';

    if (responseCode != 200 && responseCode != '') {
        $("#ExcMsg").append(message);
        $("#exception").addClass("show");
        setTimeout("$('#exception').removeClass('show');", 4000);
        setTimeout("$('#ExcMsg').removeText();", 4000);

        $.fn.removeText = function () {
            this.each(function () {

                // Get elements contents
                var $cont = $(this).contents();

                // Loop through the contents
                $cont.each(function () {
                    var $this = $(this);

                    // If it's a text node
                    if (this.nodeType == 3) {
                        $this.remove(); // Remove it
                    } else if (this.nodeType == 1) { // If its an element node
                        $this.removeText(); //Recurse
                    }
                });
            });
        }
    }
</script>