@model SMSystem.Models.Exam.ExamPaggedViewModel


<div class="table-responsive">
    <div class="row">
        <div class="col-sm-12">
            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                <thead class="student-thread">
                    <tr>
                        <th>Exam Name</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Date</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ExamModel.Count > 0)
                    {
                        @foreach (var item in Model.ExamModel)
                        {
                            <tr>
                                <td>
                                    <h2>
                                        <a>
                                            @Html.DisplayFor(modelItem => item.ExamName)
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExamDate)
                                </td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a asp-controller="Exam" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-danger-light me-2 loader">
                                            <i class="feather-edit"></i>
                                        </a>
                                        <a value="@item.Id" id="dlt_exam" class="btn btn-sm bg-success-light me-2">
                                            <i class="feather-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-center">
                                <h3 style="color:red;">
                                    No Data Found!
                                </h3>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="paginationData" class="row">
    @{
        Html.RenderPartial("_Pagination");
    }
</div>
<script type="text/javascript">
    responseCode = '@TempData["ResCode"]';
    message = '@TempData["Message"]';

    if (responseCode != 200 && responseCode != '') {
        $("#ExcMsg").append(message);
        $("#exception").addClass("show");
        setTimeout("$('#exception').removeClass('show');", 4000);
        setTimeout("$('#ExcMsg').removeText();", 4000);

        $.fn.removeText = function () {
            this.each(function () {

                // Get elements contents
                var $cont = $(this).contents();

                // Loop through the contents
                $cont.each(function () {
                    var $this = $(this);

                    // If it's a text node
                    if (this.nodeType == 3) {
                        $this.remove(); // Remove it
                    } else if (this.nodeType == 1) { // If its an element node
                        $this.removeText(); //Recurse
                    }
                });
            });
        }
    }
</script>
